<form class="" action="/landmarks" method="post">
  <label for="landmark[name]">Landmark Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]" value="">

  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" value="">
  <!-- <input type="text" name="landmark[year_completed]" value=""> -->

  <input type="submit" name="" value="Create New Landmark">
</form>
